<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/sucess_style.css') }}"
    />
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='assets/check.jpg') }}"
      id="check"
    />

    <h1 id="Congrats">
      Congrats! Your account has been created, please wait 2-3 weeks for our
      systems to process your addition.
    </h1>
  </body>
</html>
