* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

#errorBox {
  width: 600px;
  height: 400px;
  background-color: rgb(255, 165, 165);
  outline: 10px solid black;
  border-radius: 10px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;

  z-index: 2;
  visibility: hidden;
}

#errorBox * {
  padding: 20px;
}

#popupBox {
  width: 600px;
  height: 400px;
  background-color: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;

  z-index: 2;
  visibility: hidden;
}

#popupBox * {
  padding: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  visibility: hidden;
}

.loginBox {
  width: 800px;
  height: 500px;
  background-color: #f3f4f6; /* Slightly different background color for better contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  margin: auto;

  z-index: 0;
}

.loginBox * {
  margin: 10px;
}

#loginText {
  margin: 0 auto;

  padding-bottom: 20px;
  margin-top: 30px;
}

.loginForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  visibility: visible;
}
.loginForms input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.loginForms input:focus {
  border-color: #0077cc;
}

#user {
  padding: 5px;
}

#pass {
  padding: 5px;
}

#submitUserPass {
  background-color: #00ff1a;
  color: black;
  padding: 30px 60px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

#submitUserPass:hover {
  background-color: #00cc47;
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

#image_container {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

#mail_symbol {
  width: 60px;
}

#redCircle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 47px;
  visibility: hidden;
}

#userPassInstructions {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  position: absolute;
  background-color: white;
  width: 400px;
  height: 100vh;
  z-index: 5;
}

#userPassInstructions * {
  margin: 10px;
}

#username_guidelines {
  padding-top: 20px;
}
#username_guidelines * {
  margin-top: 25px;
}

#password_guidelines {
  padding-top: 20px;
}
#password_guidelines * {
  margin-top: 25px;
}

#slider_tab {
  position: absolute;
  border-radius: 10px;
  top: 50%; /* Center vertically */
  right: -30px; /* Adjust to the desired sticking out value */
  transform: translateY(-50%); /* Ensures true vertical centering */
  width: 50px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  background-color: white;
  text-align: center;
  line-height: 40px; /* Vertically center text */
  cursor: pointer;
  z-index: 4;
}

#userPassInstructions:hover {
  transform: translateX(
    0
  ); /* On hover, we reset the transform to its original position, revealing the whole div */
}

#actualSubmit {
  position: absolute;
  background-color: rgb(0, 230, 230);
  border: none;
  width: 20px;
  height: 10px;
  bottom: 10px;
  right: 10px;
  font-size: 7px;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Start at regular size */
  }
  50% {
    transform: scale(1.2); /* Grow by 20% at the halfway point */
  }
  100% {
    transform: scale(1); /* Return to regular size */
  }
}

.pulse-animation {
  animation: pulse 0.5s ease-in-out; /* Adjust the time (0.5s) as needed */
}
